
.floorplan{
  position: relative;
}

.floorplan a{
  display: block;      
  position: absolute;
}

#canvasContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 800px;
  height: 400px;
}