<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>DBS - Dream Home</title>

      <!-- Scripts and css files -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <script src="/static/jquery-ui/jquery-ui-1.12.0-rc.2/jquery-ui.min.js"></script>
      <script src="/static/three/three.min.js"></script>
      <script src="/static/panolens/panolens.min.js"></script>

      <script src="/static/tether/dist/js/tether.min.js"></script>
      <script src="/static/dreamHome/main.js"></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/static/jquery-ui/jquery-ui-1.12.0-rc.2/jquery-ui.min.css">

      <link rel="stylesheet" href="/static/dreamHome/main.css">

      <script src="/static/css/js/dist/tooltip.js"></script>
      <script src="/static/css/js/dist/popover.js"></script>

  </head>

  <body>

      <div class="row">

        <!-- The section in the page that contains the canvas -->
        <div class="col-md-8">
          <h1>360 Panoramic View</h1>
          <div id="canvasContainer"></div>
        </div>
        
        <!-- The section in the page that contains all the options and buttons -->
        <div class="col-md-4">

          <h1>Logged-in user</h1>
          {% if user.username %}
            {{ user.username }}
          {% endif %}

          <h1>Model</h1>
          {{ model.name }}

          <h1>Floor Plan</h1>
          {{ floor.name }}
          <br><br>

          <div class="floorplan">
            <img src="/static/360/{{ floor.imageName }}.png" style="width: 80%; height: 80%" alt="Floor Plan" usemap="#floormap">
            <map name="floormap">
            {% for room in rooms %}
              <area shape="rect" coords="{{ room.x1 }}, {{ room.y1 }}, {{ room.x2 }}, {{ room.y2 }}" alt="{{ room.name }}" class="room" houseID="{{ model.id }}" floorID="{{ floor.id }}" roomID="{{ room.id }}" id="{{ room.name }}" username="{{ user.username }}">
            {% endfor %}
            </map>
          </div>

          <div id="roomInfo" houseID="{{ model.id }}" floorID="{{ floor.id }}" roomID="{{ room.id }}" viewerMode="{{ viewerMode }}"></div>

          <!-- A dropdown menu of the options of the current room -->
          <h1>Options</h1>

          {% for optionType in optionTypes %}
            <select class="dropDownMenu" id="{{ optionType.name }}" username="{{ user.username }}">
              {% for option in optionType.option_set.all %}
                <option class="dropdown-item option" value="{{ option.id }}" optionID="{{ option.id }}" optionPrice="{{ option.price }}" name="{{ option.name }}" id="{{ option.imageName }}">{{ option.description }}</option>
              {% endfor %}
            </select>
            <br><br>
          {% endfor %}

          <!-- The price that updates when the different options change -->
          <h1>Price</h1>
          $<h3 id="price" style="color: darkblue">{{ price }}</h3>

          <h1>Panoramic image upload</h1>
          <form action="uploadFile" method="post" enctype="multipart/form-data" id="submitImage">
            {% csrf_token %}
            <input type="file" name="picture" id="fileInput">
            <br>
            <button class="btn btn-primary">Upload</button>
          </form>
          <br>

          <h1>Share this room</h1>
          <button class="btn btn-primary" id="shareRoom">Share</button>

          <br><br>

<!--           {% if viewerMode == 'true' and user.username %}
            <form action="{% url 'configurator' user.username model.id floor.id room.id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-primary" id="configurator">Switch to Configurator</button>
            </form>
          {% endif %} -->

          {% if user.username %}
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-primary" id="logout">Log out</button>
            </form>
          {% else %}
            <form action="{% url 'login' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-primary" id="login">Log in</button>
            </form>
          {% endif %}

        </div>
      </div>

      <script>
        var panorama, viewer;
        // TODO: add that if no such photo exists, show an error message
        var imageToLoad;
        {% if optionsToLoad %}
          imageToLoad = '/static/360/{{ model.id }}-{{ floor.id }}-{{ room.id }}-{{ optionsToLoad }}.jpg';
        {% else %}
          imageToLoad = '/static/360/{{ model.id }}-{{ floor.id }}-{{ room.id }}.jpg';
        {% endif %}

        if (urlExists(imageToLoad)) {
          panorama = new PANOLENS.ImagePanorama( imageToLoad );
          viewer = new PANOLENS.Viewer({  container: canvasContainer });
          viewer.add( panorama );
        } else {
          var imageName = '{{ model.id }}-{{ floor.id }}-{{ room.id }}-{{ optionsToLoad }}'
          alert("The configuration \"" + imageName + "\" does not exist in the database");
        }

      </script>

  </body>

</html>