<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>DBS - Dream Home</title>

      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <!-- The different scripts for the project -->
      <script src="static/three/three.min.js"></script>
      <script src="static/panolens/panolens.min.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>      <script src="static/tether/dist/js/tether.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="static/css/js/dist/tooltip.js"></script>
      <script src="static/css/js/dist/popover.js"></script>

      <link rel="stylesheet" href="static/dreamHome/main.css">
  </head>

  <body>

      <div class="row">

        <div class="col-md-8">
          <h1>360 Panoramic View</h1>
          <div id="canvasContainer"></div>
        </div>
        
        <div class="col-md-4">

        <h1>Floor Plan</h1>
        <div class="floorplan">
          <img src="static/360/floorPlan.png" style="width: 80%; height: 80%" alt="Floor Plan" />
          <a href="http://www.google.com" style="top: 10%; left: 0%; width: 30%; height: 40%;" alt="Bedroom"></a>
          <a href="http://www.apple.com" style="top: 5%; left: 30%; width: 30%; height: 45%;" alt="Kitchen"></a>
          <a href="http://www.amazon.com" style="top: 5%; left: 60%; width: 20%; height: 45%;" alt="Bathroom"></a>
          <a href="http://www.yahoo.com" style="top: 50%; left: 0%; width: 42%; height: 45%;" alt="Living Room"></a>
          <a href="http://www.instagram.com" style="top: 50%; left: 42%; width: 38%; height: 45%;" alt="Master Bedroom"></a>
        </div> 

          <!-- Floor plan button grid that lets the user move between the different rooms of the house -->
          <h1>Rooms</h1>
          <div class="btn-group" data-toggle="buttons" id="rr">
              <label class="btn btn-primary">
                <input type="radio" id="bedroomGrid" autocomplete="off" name="gridRadio"> Bedroom
              </label>
              <label class="btn btn-primary">
                <input type="radio" id="kitchenGrid" autocomplete="off" name="gridRadio"> Kitchen
              </label>
              <label class="btn btn-primary">
                <input type="radio" id="bathroomGrid" autocomplete="off" name="gridRadio"> Bathroom
              </label>
              <label class="btn btn-primary active">
                <input type="radio" id="livingroomGrid" autocomplete="off" name="gridRadio" checked> Living Room
              </label>
              <label class="btn btn-primary">
                <input type="radio" id="masterbedroomGrid" autocomplete="off" name="gridRadio"> Master Bedroom
              </label>
          </div>

          <!-- A dropdown menu of the options of the current room -->
          <div id="dd">
            <h1>Options</h1>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Cabinet Options
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="blueCabinets">Blue Cabinets</a></li>
                <li><a class="dropdown-item" id="silverCabinets">Silver Cabinets</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Drapes Options
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="redDrapes">Red Drapes</a></li>
                <li><a class="dropdown-item" id="whiteDrapes">White Drapes</a></li>
              </ul>
            </div>

          </div>

          <!-- The price that updates when the different options change -->
          <h1>Price</h1>
          <h3 id="price" style="color: darkblue"></h3>

          <h1>Panoramic image upload</h1>
          <form action="uploadFile" method="post" enctype="multipart/form-data" id="submitImage">
            {% csrf_token %}
            <input type="file" name="picture" id="fileInput">
            <br>
            <button class="btn btn-primary">Upload</button>
          </form>
          <br><br>

        </div>

      </div>

      <script src="static/dreamHome/main.js"></script>

  </body>

</html>