<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
      <script src="static/three/three.min.js"></script>
      <script src="static/panolens/panolens.min.js"></script>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>      <script src="static/tether/dist/js/tether.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      
      <script src="static/css/js/dist/tooltip.js"></script>
      <script src="static/css/js/dist/popover.js"></script>

    <title>DBS - Dream Home</title>
  </head>

  <body>

      <div class="row">


        <div class="col-md-8">
          <h1>360 Panoramic View</h1>
          <div id="canvasContainer"></div>
        </div>
        
        <div class="col-md-4">

          <h1>Floor Plan</h1>
          <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Kitchen
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Living Room
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Bathroom
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Bedroom
              </label>
           </div>

          <h1>Options</h1>

          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Drape Options
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" id="redDrapes">Red Drapes</a></li>
              <li><a class="dropdown-item" id="whiteDrapes">White Drapes</a></li>
            </ul>
          </div>

        </div>

      </div>

      <script src="static/dreamHome/main.js"></script>

  </body>

</html>