<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>DBS - Dream Home</title>

      <!-- Scripts and css files -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/static/jquery-ui/jquery-ui-1.12.0-rc.2/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/static/jquery-ui/jquery-ui-1.12.0-rc.2/jquery-ui.min.css">
  </head>

  <body>
      <div class="row">

      <div class="col-md-4"></div>

      <div class="col-md-4">

        {% for error in form.non_field_errors %}

          <div style="color:red">{{ error }}</div>
          <br><br>
        {% endfor %}

          <h6>Log in</h6>
          <p>
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group">

                <br><br>

                {% for field in form.visible_fields %}

                  <div style="color:red">{{ field.errors }}</div>
                  {{ field }}
                  <br>

                {% endfor %}

                <button class="btn btn-primary btn-block">Log in</button>

              </div>
            </form>

          </p>

          <div style="text-align:center;"><h6>New user?</h6>

            <a class="btn btn-warning" href="{% url 'register' %}">Register Now</a>

          </div>
        
      </div>

      <div class="col-md-4"></div>

    </div>

  </body>

</html>